.button{
	color:white;
	background-color:black;
	border:0px none rgb(255,255,255);
	border-radius:5px;
}
.button:hover{
	color:black;
	background-color:yellow;
	border-radius:30px;
}
/* Your CSS Code here. */